body {
  padding-bottom: 100px;
}

ul#menu.nav.navbar-nav{
	margin-top:20px;
	margin-left: 50px;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:  auto 50px -155px;
  	padding-bottom: 100px;
}

.footer.push{
	height: 155px;
}

.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}