html, body {
  height: 100%;
}

ul#menu.nav.navbar-nav{
	margin-top:20px;
	margin-left: 50px;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:  auto 50px -155px;
}

.footer.push{
	height: 155px;
}

