body {
  padding-bottom: 100px;
}

ul#menu.nav.navbar-nav{
	margin-top:20px;
	margin-left: 50px;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:  auto 50px -155px;
  	padding-bottom: 100px;
}

.footer.push{
	height: 155px;
}

.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    width: 450px;
}

.breadcrumb .btn {
    padding: 6px 12px 6px 3px;
}

.navbar.navbar-danger {
    background-color: #6b9abf;
    color: rgba(255,255,255,.84);
}

.box{
	display: block;
	float: right;
	margin: 0 60px 10px 10px;
}