{% extends "base.html" %}
{% block title %} Block {% endblock title %}
{% load bootstrap3 %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>Edit block</b></a></li>    
            </ul></li>
            </ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="col-lg-8">
<form method="post" action="" class="form-horizontal" enctype='multipart/form-data'>
<fieldset>

    {{ form.media }}
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %} 
</fieldset>
</div>
<div class="btn btn-success btn-fab pull-right">
    <button style="background:none; border:none;" type="submit">
        <i class="material-icons">save</i> 
    </button>
</div>
</form>
{% endblock content %}

