{% extends "base.html" %}
{% block title %} Course {% endblock title %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>Edit</b></a></li>
            </ul></li>
      </ul>
        
{% endblock breadcrumbs %}

{% block content %}
{% load bootstrap3 %}

<form method="post" action="" >
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="submit" class="btn btn-raised btn-success" value="Submit" />
</form>



{% endblock content %}


