{% extends "base.html" %}
{% block title %} Course {% endblock title %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>{{course.name}}</b></a></li>
           
            </ul></li>
      </ul>
        
{% endblock breadcrumbs %}


{% block content %}
    {% csrf_token %}
   

 <div class="col-sm-6"  >
    <h3> Sections</h3>
    <div class="well">
        {% for item in sections %}
            <div class="list-group"><h3><a href="{% url "elearning:showBlocks" course_id item.id %}"> {{item.name}}</a>               
                <span class="col-md-1 pull-right"></span> 
                <a href="{% url "elearning:showBlocks" course_id item.id %}"> <i class="material-icons pull-right">search</i></a>
                </h3>
                <p class="list-group-item">{{item.desc}}</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-6">
    <h3> Course info</h3>
    <div class="well" id="sections">
        <h4>Name: {{ course.name }}</h4>
        <h4>Description:</h4>
        <p>{{ course.desc }}</p>
        <h4>Beginning date: {{ course.beginDate }} </h4>
        <h4>Course duration (days): {{ course.duration }} </h4>
    </div>
    
    <div class="well text-center">
        <b id="ratingMessage">Please, rate this course:</b>
       <div class="rating"> 
       <span id="star-5">☆</span> <span id="star-4">☆</span>
       <span id="star-3">☆</span> <span id="star-2">☆</span>
       <span id="star-1">☆</span> </div>
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
function setRating(){
    console.log("Setting rating");
    $.ajax({
         type:"GET",
         url:"/ajax/course-rating/{{course.id}}",
    }).done( function(response){
            console.log("Response: " + response);
            if( response == 0 ) return null;
            rating = response;
            $('.rating').off();
            $("#ratingMessage").text("Thanks for rating our course!");
            $('.rating').addClass('rated').removeClass('rating');
            for(i=rating; i>0; i--){
                ratingID = "#star-" + i;
                $(ratingID).addClass('ratedPoints');
            }
            });
}

$(document).ready(function () {
    csrftoken = getCookie("csrftoken");
    setRating();
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });
    $('.rating').click(function (event) {
        if( ! event.target.id ) return null;
        rating = event.target.id.slice(-1);
        console.log("Rating: " + rating);
        $.ajax({
             type:"POST",
             url:"/ajax/course-rating/{{course.id}}",
             data: {
                    'rating': rating
                    },
        }).done( setRating() );
    });
});
</script>
{% endblock script %}