{% extends "base.html" %}
{% block title %} Course {% endblock title %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>{{course.name}}</b></a></li>
           
            </ul></li>
      </ul>
        
{% endblock breadcrumbs %}


{% block content %}
    {% csrf_token %}
   

                 <div class="col-sm-6"  >
                 <h3> Sections</h3>
                 <div class="well">
                 {% for item in sections %}
                 
                 <div class="list-group"><h3><a href="{% url "elearning:showBlocks" course_id item.id %}"> {{item.name}}</a>
                                
                                <span class="col-md-1 pull-right"></span> 
                                <a href="{% url "elearning:showBlocks" course_id item.id %}"> <i class="material-icons pull-right">search</i></a>
                                </h3>
                                <p class="list-group-item">{{item.desc}}</p>
 </div>
{% endfor %}
</div>
</div>
                       


              

 <div class="col-sm-6">
<h3> Course info</h3>
  
   <div class="well" id="sections">
   <h4>Name: {{ course.name }}</h4>
   <h4>Description:</h4>
   <p>{{ course.desc }}</p>
   <h4>Beginning date: {{ course.beginDate }} </h4>
   <h4>Course duration (days): {{ course.duration }} </h4>
   </div>
        </div>
</div>
<div>
    <form method="post" action="">
    {% csrf_token %}
    {{ form.value }}
    <input type="submit" value="Rate" />
</form>
<p>Average rating: {{ course.avgRating }}<p>
</div>
{% endblock content %}
