{% extends "base.html" %}
{% block title %} Course {% endblock title %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li class="active"><b>List of courses</b></a></li>
           
            </ul></li>
     
      </ul>       
        
{% endblock breadcrumbs %}


{% block content %}
    {% csrf_token %}
    {% if user.is_authenicated %}
    <h1> Enrolled: </h1>
     <table class="table table-striped table-hover ">
    <thead>
    <tr class="info">
        <th>Name:</th>
        <th>Begins:</th>
        <th>Duration(days):</th>
        <th>Description:</th>
        <th>Author:</th>
        <th>Tags:</th>
    <th>Average rating:</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

    </tr>
    </thead>
    {% for item in courses_inscribed %}
    <tr  class="success">
        <td>{{ item.name }}</td>
        <td>{{ item.beginDate }}</td>
        <td>{{ item.duration }}</td>        
        <td>{{ item.desc }} </td>
        <td>{{ item.author }}</td>
        <td>{{ item.tagList }}</td>
        <td>{{ item.avgRating }}</td>
        <td><a href="{% url "elearning:editCourse" course_id=item.id %}" class="btn btn-raised btn-success">Edit</a> </td>
        <td><a href="{% url "elearning:showStudentsInCourse" course_id=item.id %}" class="btn btn-raised btn-info">Enter</a> </td>
        <td> <a href="{% url "elearning:manageCourse" course_id=item.id %}" class="btn btn-raised btn-danger">Manage</a> </td>
        <td> <a href="{% url "elearning:manageCourse" course_id=item.id %}" class="btn btn-raised btn-warning">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
    {% endif %}
 <h1> Available: </h1>
     <table class="table table-striped table-hover table_1">
    <thead>
    <tr class="info">
        <th>Name:</th>
        <th>Begins:</th>
        <th>Duration(days):</th>
        <th>Description:</th>
        <th>Author:</th>
        <th>Tags:</th>
    <th>Average rating:</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

    </tr>
    </thead>
    {% for item in courses_uninscribed %}
    <tr  class="success">
        <td>{{ item.name }}</td>
        <td>{{ item.beginDate }}</td>
        <td>{{ item.duration }}</td>        
        <td>{{ item.desc }} </td>
        <td>{{ item.author }}</td>
        <td>{{ item.tagList }}</td>
        <td>{{ item.avgRating }}</td>
        <td><a href="{% url "elearning:editCourse" course_id=item.id %}" class="btn btn-raised btn-success">Edit</a> </td>
        <td><a href="{% url "elearning:showStudentsInCourse" course_id=item.id %}" class="btn btn-raised btn-info">Enter</a> </td>
        <td> <a href="{% url "elearning:manageCourse" course_id=item.id %}" class="btn btn-raised btn-danger">Manage</a> </td>
        <td><a class="btn btn-raised btn-warning deleteBlock">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}