{% extends "base.html" %}
{% block title %} Course information {% endblock title %}
{% block content %}
    {% csrf_token %}

    <div class="col-sm-8">
<h3> Course info</h3>
  
   <div class="well" id="sections">
   <h4>Name: {{ course.name }}</h4>
   <h4>Description:</h4>
   <p>{{ course.desc }}</p>
   <h4>Beginning date: {{ course.beginDate }} </h4>
   <h4>Course duration (days): {{ course.duration }} </h4>
  
   </div>
        </div>


<div class="col-sm-4" id="students">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Inscribed students</h3>
</div>
        <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">  
            {% for users in course.users.all %}
           <li><h4>{{ users }}</h4></li>
            {% endfor %}
            <button type="submit" class="btn btn-raised btn-success"><a href={% url "elearning:manageStudents" course.id %}>Update list</a></button>
           
        </ul>
        </div>
        </div>
        </div>
{% endblock content %}

{% block navigation %}
<div class="navbar navbar-danger">


  <div class="container-fluid">
 
    


    <div class="navbar-collapse collapse navbar-danger-collapse">
      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>{{course.name}}</b></a></li>
           
            </ul></li>
            

          
        
      </ul>
      
          
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid">

          <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
          </button>
         
          </div>
{% endblock navigation %}