{% extends "base.html" %}
{% block title %} Course {% endblock title %}
{% block content %}
    {% csrf_token %}
    <h1> Sections: </h1>
    <table>
    <tr>
        <th>Name:</th>
        <th>Begins:</th>
        <th>Duration(days):</th>
        <th>More Information:</th>
    </tr>
    {% for item in sections %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.beginDate }}</td>
        <td>{{ item.duration }}</td>
	<td><a href=/sections/{{ item.id }}>Enter</a></td>
    </tr>

    {% endfor %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.value }}
    <input type="submit" value="Rate" />
</form>
<p>Average rating: {{ course.avgRating }}<p>
{% endblock content %}

