<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

</head>
<body>
    {% csrf_token %}
    <h1> Courses in offer: </h1>
    <table>
    <tr>
        <th>Name:</th>
        <th>Begins:</th>
        <th>Duration(days):</th>
        <th>More Information:</th>
	<th>Average rating:</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.beginDate }}</td>
        <td>{{ item.duration }}</td>
        <td><a href=/courses/info/{{ item.id }}>Details</a> </td>
	<td>{{ item.avgRating }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

