{% extends "base.html" %}
{% block title %} Add Students {% endblock title %}
{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>{{course.name}}</b></a></li>
           
            </ul></li>
      </ul>
        
{% endblock breadcrumbs %}
{% block content %}
<div class="col-m-6">
<form method="post" action="" class="form-horizontal">
<fieldset>
<div class="form-group">
{% for field in form %}
    {% csrf_token %}

    {{ form.as_p}}
    
 {% endfor %}
    <button type="submit" class="btn btn-raised btn-success">Update</button>
</form>
</div>
</fieldset>

{% endblock content %}

