{% extends "base.html" %}
{% block title %} Course {% endblock title %}
{% block content %}
{% csrf_token %}
<div class="col-md-8">
<h1> {{ course.name }}  </h1>
<h2> Course Management </h2>
<h2> Sections: <a href="javascript:void(0)" class="btn btn-raised btn-success" id="confirmSort">CONFIRM SORT ORDER</a></h2>

        <div id="sortable">
                {% if not query_results %}
                <div class="panel panel-default">
                        <div class="panel-body">Add a new section!</div>
                </div>
                {% else %}
                {% for item in query_results|dictsort:"index" %}

                 <div class="panel panel-success section-item" id="{{item.id}}">
                        <div class="panel-heading">
                                <h3 class="panel-title">{{item.name}} 
                                <a href="#"><i class="material-icons pull-right deleteSection">delete</i></a>
                                <span class="col-md-1 pull-right"></span>  
                                <a href="{% url "elearning:editSection" course.id item.id %}"> 
                                    <i class="material-icons pull-right">edit</i>
                                </a>
                                <span class="col-md-1 pull-right"></span>  
                                <a href="{% url "elearning:manageSection" course.id item.id %}">
                                    <i class="material-icons pull-right">playlist_add</i>
                                </a></h3>
                        </div>
                        <div class="panel-body selection-item-body">
                            <ul class="list-group" id="{{item.id}}l">
                            </ul>
                        </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
        <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url "elearning:newSection" course.id %}" class="btn btn-default btn-lg btn-block btn-raised">New Section</a>
                </div>
        </div>
</div>

<div class="col-sm-4">
    <a class="btn btn-raised btn-warning pull-right" href={% url "elearning:listCourses" %}>Back to courses</a>
    <br><br><h3> Info </h3>
    <div class="well">
       <p>{{ course.desc }}</p><hr>
       <h4><i>Beginning date:</i> {{ course.beginDate }} </h4>
       <h4><i>Course duration:</i> {{ course.duration }} days </h4>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Update students</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">  
                {% for user in course.users.all %}
                {% if user.getRole == 'student' %}
                <li>{{ user }}</li>
                {% endif %}
                {% endfor %}
                <a class="btn btn-raised btn-primary" 
                href={% url "elearning:manageStudents" course.id %}>Update students</a>
            </ul>
        </div>
        <div class="panel-body">
        </div>
    </div>
    <div class="btn btn-raised btn-danger pull-right" id="deleteSelf">Delete Course</div>
    <a href="{% url "elearning:editCourse" course_id=course.id %}" class="btn btn-raised btn-success pull-right">Edit</a>
</div>

{% endblock content %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="active"><b>{{course.name}}</b></a></li>   
            </ul></li>
            </ul>
{% endblock breadcrumbs %}
          
        
     
{% block script %}-
<script>
$(document).ready(function () {
    $("#confirmSort").hide();
    $(".selection-item-body").hide();
    csrftoken = getCookie("csrftoken");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });
    $(function() {
        $( "#sortable" ).sortable({
            axis: "y",
            cursor: "move",
            scroll: false
        });
        $( "#sortable" ).disableSelection();
    });
    $( "#sortable" ).on( "sortstop", function( event, ui ) {
            $("#confirmSort").show();
    });
    $( "#confirmSort" ).on( "click", function( event, ui ) {
        var sortedIDs = $( "#sortable" ).sortable( "toArray" );
            $.ajax({
                 type:"POST",
                 url:"/ajax/modify-section-order/{{course.id}}",
                 data: {
                        'neworder': JSON.stringify(sortedIDs)
                        },
                 success: function(){
                    }
            });
        $("#confirmSort").hide();
    });
    $( ".section-item" ).on( "click", function( event, ui ) {
        var section_id = $(this).attr('id');
        if ( !( $(this).attr('loaded') )){
            $(this).attr('loaded', true);
            request = $.ajax({
                 type:"GET",
                 url:"/ajax/get-blocks-list/" + section_id
                });
            request.done(function (response){
                var itemset = JSON.parse(response);
                var listID = "#"+section_id+"l";
                $listSelector = $(listID);
                for(item of itemset) {
                    $listSelector.append('<li class="list-group-item"> '+item.fields.index + '. '+item.fields.name+'</li>');
                }
        });}
        $(this).children(".selection-item-body").toggle();
    });
    $( ".deleteSection" ).on( "click", function( event, ui ) {
        $element = $(this).parents(".panel-success");
        var section_id = $element.attr("id");
        if(confirm("Are you certain you want to delete this section?")){
            $.ajax({
                 type:"DELETE",
                 url:"/manage/courses/" + {{course.id}} + 
                 "/sections/edit/" + section_id,
                 data: {},
                 success: function(response){
                    console.log("Server: " + response);
                    $element.remove();
                }
            });
        }
    });
    $( "#deleteSelf" ).on( "click", function( event, ui ) {
        $element = $(this).parents(".panel-success");
        var section_id = $element.attr("id");
        if(confirm("Are you certain you want to delete this course?")){
            $.ajax({
                 type:"DELETE",
                 url:'{% url "elearning:editCourse" course.id %}',
                 data: {},
                 success: function(response){
                    window.location = "{% url "elearning:listCourses" %}";
                }
            });
        }
    });
});
</script>
{% endblock script %}