{% extends "base.html" %}
{% block title %} Test home screen {% endblock title %}
{% block content %}

<div class="jumbotron">

<h1>{{ message }}</h1>
 <img src="http://www.go2uni.net/go/images/stories/choosingcoursehead.jpg" class="img-responsive" alt="Cinque Terre" width="500" height="236">
</div>
{% endblock content %}
 
    <li><a href={% url "elearning:registration" %}>Sign Up</a></li>
    {% if user.is_authenticated %}
        <li><a href={% url "elearning:logout" %}>Logout</a></li>
    {% else %}
        <li><a href={% url "elearning:login" %}>Login</a></li>
    {% endif %}
    </ul>

                 
