{% extends "base.html" %}
{% block title %} Programmes {% endblock title %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

</head>
<body>
{% block content %}
    {% csrf_token %}
    <h1> Programmes in offer: </h1>
<table>
   
    {% for item in programmes %}
    <tr>
        <td>{{ item.name }}</td>
        <td><a href=/programmes/{{ item.id }}>Enter</a> </td>
	<td>{{ item.avgRating }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>

