{% extends "base.html" %}
{% block title %} Create programme {% endblock title %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listProgrammes" %} class="btn btn-default"><b>Programmes</b></a></li>
           	<li class="active"><b>Edit</b></li>
            </ul></li>
     
      </ul>       
        
{% endblock breadcrumbs %}

{% block content %}
{% load bootstrap3 %}
<form method="post" action="" class="form-horizontal">
  <fieldset>
    {% csrf_token %}
	{% bootstrap_form form layout='horizontal' %}
     
 
    </fieldset>
    <input type="submit" value="Submit" />
    
</form>

{% endblock %}
