{% extends "base.html" %}
{% block title %} --WIP-- {% endblock title %}
{% block content %}
{{ form.media }}
{% csrf_token %}
{{ form.as_p }}
<div class="col-lg-8">
     <div class="panel panel-primary questionMultipleChoice" id="questionMultipleChoiceDefault">
        <div class="panel-heading">
            <h3 class="panel-title editableElement">Question</h3>
        </div>
        <div class="panel-body">
            <ul></ul>
            <span class="btn btn-primary btn-fab pull-right" id="newMultiChoiceAnswer">
                <i class="material-icons">add</i> 
            </span>
            <span class="col-md-1 pull-right">
            </span>
            <span class="btn btn-danger btn-fab pull-right deleteQuestion">
                <i class="material-icons">delete</i> 
            </span>
        </div>
    </div>

    <div class="panel panel-success questionSingleChoice" id="questionSingleChoiceDefault">
        <div class="panel-heading">
            <h3 class="panel-title editableElement">Question</h3>
        </div>
        <div class="panel-body">
            <form>
                <ul></ul>
            </form>
            <span class="btn btn-success btn-fab pull-right" id="newSingleChoiceAnswer">
                <i class="material-icons">add</i> 
            </span>
            <span class="col-md-1 pull-right">
            </span>
            <span class="btn btn-danger btn-fab pull-right deleteQuestion">
                <i class="material-icons">delete</i> 
            </span>
        </div>
    </div>
                
    <div id="sortable">
        <div class="panel panel-default" id="emptyField">
                <div class="panel-body">Add a new question!</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>New question:</h3>
            <div class="btn-group btn-group-justified btn-group-raised">
                <span id="newMultiChoice" class="btn">Multiple Choice</span>
                <span id="newSingleChoice" class="btn">Single Choice</span>
            </div>
        </div>
    </div>
</div>

<div class="btn btn-success btn-fab pull-right " id="saveQuiz">
    <i class="material-icons">save</i> 
</div>

{% endblock content %}

{% block script %}
<script>
$("#questionMultipleChoiceDefault").hide();
$("#questionSingleChoiceDefault").hide();
$(document).ready(function () {
    csrftoken = getCookie("csrftoken");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });
    if( $("#id_serialQuestions").val() ) { 
        generateViewFromForm();
        var urlDestination = window.location.href;
    } else {
        var urlDestination = "/courses/manage/1/section/1/block/new/quiz";
    }
    var editOpen = false;
    $(function() {
        $( "#sortable" ).sortable({
            axis: "y",
            cursor: "move",
            scroll: false
        });
        $( "#sortable" ).disableSelection();
    });
    $( "#sortable" ).on( "sortstop", function( event, ui ) {
        var sortedIDs = $( "#sortable" ).sortable( "toArray" );
    });
    $( "#newMultiChoice" ).on("click", function(event, ui ) {
        $( "#emptyField" ).hide();
        $( "#questionMultipleChoiceDefault" ).clone(true)
        .appendTo( "#sortable" ).show();
    });
    $( "#newSingleChoice" ).on("click", function(event, ui ) {
        $( "#emptyField" ).hide();
        $( "#questionSingleChoiceDefault" ).clone(true)
        .appendTo( "#sortable" ).show();
    });
    $( "#newMultiChoiceAnswer" ).on("click", function(event, ui ) {
        $(this).parent().children("ul")
        .append("<li><input type='checkbox'>"+
        "<span class='editableElement'>Answer</span> </li>");
    });
    $( "#newSingleChoiceAnswer" ).on("click", function(event, ui ) {
        $(this).parent().children("form").children("ul")
        .append("<li><input type='radio' name='choice'>"+
        "<span class='editableElement'>Answer</span> </li>");
    });
    $( ".deleteQuestion" ).on("click", function(event, ui ) {
        var check = confirm("Are you certain you want to delete this question?");
        if(check) $(this).parents(".panel").remove();
    });
    $(document).on("click", ".editableElement", function(event, ui ) {
        if(editOpen) return false;
        var name = $(this).text();
        if(name == "Question" || name == "Answer") name = "";
        $(this).html('');
        $('<input></input>')
            .attr({
                'type': 'text',
                'name': 'editable-field',
                'id': 'editing',
                'size': '30',
                'class' : 'form-control'
            })
            .appendTo(this);
        $('#editing').enableSelection().focus().val(name);
        editOpen = true;
    });
    $(document).on('blur keypress', '#editing', function(event, ui ){
        if ( event.which == 13 || event.type == "focusout") {
            var name = $(this).val();
            if( name == "" ) name = "Please enter a value.";
            $(this).parent(".editableElement").text(name);
            $( '#editing' ).remove();
            editOpen = false;
        }
    });
    $( "#saveQuiz" ).on("click", function(event, ui ) {
        console.log("Saving...");
        var data = [];
        $( "#sortable" ).children(".panel").each(function( index ) {
            data[index] = {};
            data[index].title = $(this).find(".panel-title").text();
            data[index].element = [];
            data[index].correct = [];
            $(this).find("ul").children("li").each(function( index2 ) {
                data[index].element[index2] = $(this).text();
                if($(this).children("input").is(':checked')) { 
                    data[index].correct.push( $(this).text() );
                }
            });
        });
        data.splice(0,1);
        console.log(JSON.stringify(data));
        var formName = $("#id_name").val();
        var formAssmnt = $("#id_assessment").is(":checked");
        console.log("Assesment: " + formAssmnt);
        var formIndex = $("#id_index").val();
        $.ajax({
            type:"POST",
            url: urlDestination,
            data: {
                'name': formName, 
                'index': formIndex, 
                'sections': '{{section_id}}', 
                'assessment': formAssmnt,
                'serialQuestions': JSON.stringify(JSON.stringify(data))
            },
            success: function(){
                window.location = "{% url "elearning:manageSection" course_id section_id %}";
            }
        });
    });
});

function generateViewFromForm(){
    serialData =  $("#id_serialQuestions").val();
    littleLessSerialData = JSON.parse(serialData);
    data = JSON.parse(littleLessSerialData);
    var answer = "";
    var multiple = false;
    for(item of data){
        if(item.correct.length > 1) multiple = true;
        if(multiple){
            $( "#emptyField" ).hide();
            $question = $( "#questionMultipleChoiceDefault" ).clone(true)
            .appendTo( "#sortable" ).show();
        }else{
            $( "#emptyField" ).hide();
            $question = $( "#questionSingleChoiceDefault" ).clone(true)
            .appendTo( "#sortable" ).show();
        }
        $question.find(".panel-title").text(item.title);
        for(option of item.element){
            if ( $.inArray(option, item.correct) != -1) answer = "checked=true"; 
            else answer = "";
            if (multiple) {
                $question.find("ul")
                .append("<li><input type='checkbox' " + answer + 
                "> <span class='editableElement'>"+ option +"</span> </li>");
            } else {
                $question.find("ul")
                .append("<li><input type='radio' name='choice'" + answer + 
                "> <span class='editableElement'>"+option+"</span> </li>");
            }
        }     
    }

}


</script>
{% endblock script %}
