{% extends "base.html" %}
{% block title %} Block {% endblock title %}
{% load bootstrap3 %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:listCourses" %} class="btn btn-default"><b>List of courses</b></a></li>
            <li class="btn btn-default"><b>{{course.name}}</b></a></li>
            <li class="active"><b>{{section.name}}</b></a></li>    
            </ul></li>
            </ul>
{% endblock breadcrumbs %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="submit" value="Finish the section" />
</form>
{% endblock content %}

