{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}

      <ul class="nav navbar-nav" id="menu">
       
             <li><ul class="breadcrumb">
            <li><a href={% url "elearning:homepage" %} class="btn btn-default"><b>Home</b></a></li>
            <li><a href={% url "elearning:userProfile" %} class="btn btn-default"><b>Profile</b></a></li>
            <li class="active"><b>Password change</b></li>
            </ul></li>
     
      </ul>       
        
{% endblock breadcrumbs %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}