{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Register for free!</h1>
<form method="post" action="." class="horizontal-form">
  {% csrf_token %}
  <formfield>
  <div class="col-md-10">
   {% bootstrap_form form layout='horizontal' %}
</formfield>
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />

</form>

</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Need to <a href="{% url 'redux:auth_login' %}">Login</a>?</p>
</div>
</div>
{% endblock %}



 